{#
/**
 * @file scene.html.twig
 * Default theme implementation to present Scene data.
 *
 * This template is used when viewing Scene pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_scene()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('scene') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
