{#
/**
 * @file object.html.twig
 * Default theme implementation to present Object data.
 *
 * This template is used when viewing Object pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_object()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('object') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
